- music_genres.each do |music_genre|
  - case music_genre.id
  - when 1
    .music-genres--j-pop
      = music_genre.name
  - when 2
    .music-genres--rock
      = music_genre.name
  - when 3
    .music-genres--hardrock
      = music_genre.name
  - when 4
    .music-genres--metal
      = music_genre.name
  - when 5
    .music-genres--punk
      = music_genre.name
  - when 6
    .music-genres--hiphop
      = music_genre.name
  - when 7
    .music-genres--blues
      = music_genre.name
  - when 8
    .music-genres--r-and-b
      = music_genre.name
  - when 9
    .music-genres--reggae
      = music_genre.name
  - when 10
    .music-genres--electronica
      = music_genre.name
  - when 11
    .music-genres--k-pop
      = music_genre.name
  - when 12
    .music-genres--jazz
      = music_genre.name
  - when 13
    .music-genres--classic
      = music_genre.name
  - when 14
    .music-genres--fusion
      = music_genre.name
  - when 15
    .music-genres--anime
      = music_genre.name
  - when 16
    .music-genres--enka
      = music_genre.name
  - else
    .music-genres--other
      = music_genre.name