.session-list
  - if sessions.present?
    - sessions.each do |session|
      = link_to music_session_path(session), class: "decoration-none" do
        .session-container
          .session-container__left
            - if session.img.present?
              = image_tag(session.img.url, class: "session-container__left__img")
            - else
              = image_tag("/session_img/session_no_image.jpg", class: "session-container__left__img")
            .session-container__left__main-info
              .session-container__left__main-info__title.sub-title
                = session.title
              .session-container__left__main-info__user-name
                主催者：
                = session.user.nickname
          .session-container__right
            .session-container__right__hold-date
              = session.hold_datetime
            .session-container__right__remaining-days
              - if session.calc_remaining_days > 0
                = "開催まで #{session.calc_remaining_days}日"
              - elsif session.calc_remaining_days == 0
                本日開催
            .session-container__right__entry-member-su
              = "#{session.entry_sessions.count}人参加中"
  - else
    .nothing-default
      該当のセッションはありません