.main-container
  .inner-container
    .sessions-show
      .sessions-show__title
        .sessions-show__title__name.main-title
          = @session.title
        .sessions-show__title__operate
          = link_to "セッション情報を変更", edit_session_path(@session), class: "session-edit"
          = link_to "セッションを中止", session_path(@session), method: :delete, class: "session-destroy"
      .sessions-show__info
        .sessions-show__info__left
          .sessions-show__info__left__img
            = image_tag("/user_img/#{@session.user.img}")
        %table.sessions-show__info__right
          %tr
            %th
              開催日時：
            %td
              = @session.hold_datetime
          %tr
            %th
              曲数上限：
            %td
              = @session.max_music
          %tr
            %th
              主催者：
            %td
              = @session.user.nickname
      .sessions-show__explain
        = @session.explain
      .sessions-show__music-list
        .sessions-show__music-list__title.sub-title
          セッション曲一覧
        %table.session-musics
          %tr.session-musics__header
            %td 曲名
            %td アーティスト名
            %td 成立状況
            %td Vo
            %td Cho
            %td Gt1
            %td Gt2
            %td Ba
            %td Dr
            %td key
          - @entry_musics.each do |entry_music|
            %tr.session-musics__value
              %td
                = link_to entry_music.music_name, session_entry_music_path(@session, entry_music)
              %td
                = entry_music.artist_name
              %td
                = entry_music.complete_status
                - entry_music.entry_parts.order('part_no').each do |entry_part|
                  - if entry_part.user_id.present?
                    %td
                      = link_to entry_part.user.nickname, user_path(entry_part.user_id)
                      - if user_signed_in? && (current_user&.id == entry_part.user_id)
                        = link_to cancel_session_entry_music_entry_part_path(@session, entry_music, entry_part) do
                          = icon 'fas', 'times-circle', class: "part-entry-cansel"
                  - else
                    - if entry_part.apply_status == 1
                      %td
                        = link_to "エントリー", session_entry_music_entry_part_path(@session, entry_music, entry_part), method: :patch, class: "entry_need part-entry-link"
                    - elsif entry_part.apply_status == 2
                      %td
                        = link_to "(エントリー)", session_entry_music_entry_part_path(@session, entry_music, entry_part), method: :patch, class: "entry_whichever part-entry-link"
                    - elsif entry_part.apply_status == 3
                      %td
                        .entry_needless
                          ー
      .sessions-show__music
        %span.sessions-show__music__add#add_music
          = icon 'fas', 'plus-circle'
          曲を追加する
        .sessions-show__music__form
          = form_with(model: [@session, @entry_music], data: { remote: false }) do |f|
            曲名
            = f.text_field :music_name, class: "text-field-short"
            アーティスト名
            = f.text_field :artist_name, class: "text-field-short"
            %table
              %tr
                %th
                %th Vo
                %th Cho
                %th Gt1
                %th Gt2
                %th Ba
                %th Dr
                %th Key
              %tr
                %td
                  .part-select
                    必須
                  .part-select
                    任意
                  .part-select
                    不要
                %td
                  = f.radio_button :vo, :need, checked: true
                  = f.label :vo_need do
                    .part-vo.part-select#vo-need.part-selected
                      ○
                  = f.radio_button :vo, :whichever
                  = f.label :vo_whichever do
                    .part-vo.part-select#vo-whichever
                      △
                  = f.radio_button :vo, :needless
                  = f.label :vo_needless do
                    .part-vo.part-select#vo-needless
                      ー
                %td
                  = f.radio_button :cho, :need, checked: true
                  = f.label :cho_need do
                    .part-cho.part-select#cho-need.part-selected
                      ○
                  = f.radio_button :cho, :whichever
                  = f.label :cho_whichever do
                    .part-cho.part-select#cho-whichever
                      △
                  = f.radio_button :cho, :needless
                  = f.label :cho_needless do
                    .part-cho.part-select#cho-needless
                      ー
                %td
                  = f.radio_button :gt1, :need, checked: true
                  = f.label :gt1_need do
                    .part-gt1.part-select#gt1-need.part-selected
                      ○
                  = f.radio_button :gt1, :whichever
                  = f.label :gt1_whichever do
                    .part-gt1.part-select#gt1-whichever
                      △
                  = f.radio_button :gt1, :needless
                  = f.label :gt1_needless do
                    .part-gt1.part-select#gt1-needless
                      ー
                %td
                  = f.radio_button :gt2, :need, checked: true
                  = f.label :gt2_need do
                    .part-gt2.part-select#gt2-need.part-selected
                      ○
                  = f.radio_button :gt2, :whichever
                  = f.label :gt2_whichever do
                    .part-gt2.part-select#gt2-whichever
                      △
                  = f.radio_button :gt2, :needless
                  = f.label :gt2_needless do
                    .part-gt2.part-select#gt2-needless
                      ー
                %td
                  = f.radio_button :ba, :need, checked: true
                  = f.label :ba_need do
                    .part-ba.part-select#ba-need.part-selected
                      ○
                  = f.radio_button :ba, :whichever
                  = f.label :ba_whichever do
                    .part-ba.part-select#ba-whichever
                      △
                  = f.radio_button :ba, :needless
                  = f.label :ba_needless do
                    .part-ba.part-select#ba-needless
                      ー
                %td
                  = f.radio_button :dr, :need, checked: true
                  = f.label :dr_need do
                    .part-dr.part-select#dr-need.part-selected
                      ○
                  = f.radio_button :dr, :whichever
                  = f.label :dr_whichever do
                    .part-dr.part-select#dr-whichever
                      △
                  = f.radio_button :dr, :needless
                  = f.label :dr_needless do
                    .part-dr.part-select#dr-needless
                      ー
                %td
                  = f.radio_button :key, :need, checked: true
                  = f.label :key_need do
                    .part-key.part-select#key-need.part-selected
                      ○
                  = f.radio_button :key, :whichever
                  = f.label :key_whichever do
                    .part-key.part-select#key-whichever
                      △
                  = f.radio_button :key, :needless
                  = f.label :key_needless do
                    .part-key.part-select#key-needless
                      ー
            = f.submit "登録する"
= render partial: "cancel_modal"