.modal.js-reserve-modal
  .modal-back.reserve-back
  .reserve-modal
    .reserve-modal__title
      = @studio.name + " 予約"
    .reserve-modal__form
      = form_with url: studio_reserve_path(@studio), local: true, method: :patch do |f|
        .reserve-modal__form__datetime
          .reserve-modal__form__datetime__title
            日時：
          != sprintf(f.date_select(:date, with_css_classes: "select-box-default", use_month_numbers:true, start_year:Time.now.year, end_year:Time.now.year + 1, date_separator:'%s'),'年','月')+'日'
          = f.select :start_hour, [*10..21].map{|h| [h]},
            {}, {class: "select-box-short select-reserve-hour"}
          時〜
          = f.select :end_hour, [*11..22].map{|h| [h]},
            {}, {class: "select-box-short select-reserve-hour"}
          時
        .reserve-date-error-msg
        .reserve-modal__form__fee
          .reserve-modal__form__fee__title
            料金：
            %input#base_fee{type: "hidden", value: @studio.fee}/
          .reserve-modal__form__fee__value#payment_fee
            = @studio.fee.to_s + " 円"
        .reserve-modal__form__btn
          .reserve-modal__form__btn__back.reserve-back
            戻る
          .reserve-modal__form__btn__move
            = f.submit "予約を確定する", id: "reserve-done"