.main-container
  .short-inner-container
    %h2 新規会員登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        アカウント名
        = f.text_field :nickname, autofocus: true, class: "text-field-default"
      .field
        名前（姓）
        = f.text_field :last_name, autofocus: true, class: "text-field-default"
      .field
        名前（名）
        = f.text_field :first_name, autofocus: true, class: "text-field-default"
      .field
        電話番号
        = f.text_field :tel_no, autofocus: true, class: "text-field-default"
      = f.hidden_field :img, value: "images.jpeg"
      .field
        Email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field-default"
      .field
        パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "text-field-short"
      .field
        パスワード(確認)
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field-short"
      .actions
        = f.submit "会員登録する", class: "edit-btn-default"
    = render "devise/shared/links"
