.main-container
  .inner-container-wide
    .mypage
      .mypage__profile
        .mypage__profile__title.main-title
          プロフィール
        .mypage__profile__top
          .mypage__profile__top__left
            - if @user.img.present?
              = image_tag(@user.img.url, class: "mypage__profile__top__left__image")
            - else
              = image_tag("default_user.png", class: "mypage__profile__top__left__image")
          .mypage__profile__top__right
            %canvas(id="myChart" width="500" height="250")
            %script
              draw_graph();
        .mypage__profile__name
          = @user.nickname
        .mypage__profile__self-introduction
          = simple_format(@user.profile)
      - if current_user&.id == @user.id
        .mypage__reserves
          .mypage__reserves__title.main-title
            スタジオ予約
          = render partial: "user_reserves/user_reserves", locals: { user_reserves: @user_reserves }
          = link_to  user_reserves_path, class: "mypage__reserves__more-reserves" do
            すべての予約を見る
            = icon 'fas', 'angle-right'
      .mypage__sessions
        .mypage__sessions__title.main-title
          参加セッション
        = render partial: "sessions/sessions", locals: { sessions: @sessions }
      .mypage__posts
        .mypage__posts__title.main-title
          投稿した記事
        = render partial: "posts/post", locals: { posts: @posts }
    .side-bar
      = render partial: "side_menu"
= render partial: "user_reserves/cancel_modal"