%table.user-reserves
  %tr.user-reserves__head
    %th.user-reserves__head__date
      日時
    %th.user-reserves__head__studio
      スタジオ
    %th.user-reserves__head__fee
      料金
    %th
      予約取消
  - user_reserves.each do |user_reserve|
    %tr
      %td
        = user_reserve.reserve_date.strftime("%Y年%m月%d日")
        = user_reserve.start_hour.to_s + "時 〜"
        = user_reserve.end_hour.to_s + "時"
      %td
        = user_reserve.studio.name
      %td
        = comma_to_jpy(user_reserve.payment_fee)
      %td
        - if Date.today < user_reserve.reserve_date
          .user-reserves__link
            - if user_reserve.session.present?
              = link_to "取消", music_session_path(user_reserve.session), class: "cancel-button session-st-cancel"
            - else
              = link_to "取消", user_reserve_path(user_reserve), method: :delete, class: "cancel-button normal-st-cancel"
