.main-container
  .inner-container-wide
    .post-show
      .post-show__title
        .post-show__title__name.main-title
          = @post.title
        .post-show__title__operate
          - if user_signed_in?
            - if @post.user.id == current_user&.id
              = link_to "編集する", edit_post_path(@post.id), class: "oparate-btn-blue"
              = link_to "削除する", post_path(@post.id), method: :delete, class: "oparate-btn-red post-del-btn"
      .post-show__details
        .sub-title
          投稿の種類
        .post-show__details__value
          - if @post.post_type == "バンドメンバー募集"
            .post-type--recruit
              = @post.post_type_icon
          - elsif @post.post_type == "バンド参加希望"
            .post-type--entry
              = @post.post_type_icon
          - else
            .post-type--other
              = @post.post_type_icon
          .post-type__string
            = @post.post_type
        .sub-title
          投稿者
        .post-show__details__value
          = link_to @post.user.nickname, user_path(@post.user)
          - if @post.user.id != current_user&.id
            = link_to room_judge_user_chatrooms_path(@post.user), class: "send-message-btn" do
              投稿者にメッセージを送る
              = icon 'fas', 'angle-right'
        .sub-title
          内容
        .post-show__details__value
          = simple_format(@post.contents)
    .side-bar
      = render partial: "search"
= render partial: "delete_modal"