.studio-show-page
  .main-container
    .studio.inner-container
      .studio__name.main-title
        = @studio.name
      .studio__info
        .studio__info__left
          - if @studio.id == 1
            = image_tag("/studio_img/studio1.jpg", class: "studio__info__left__img")
          - if @studio.id == 2
            = image_tag("/studio_img/studio2.jpg", class: "studio__info__left__img")
          - if @studio.id == 3
            = image_tag("/studio_img/studio3.jpg", class: "studio__info__left__img")
          - if @studio.id == 4
            = image_tag("/studio_img/studio7.jpg", class: "studio__info__left__img")
        .studio__info__right
          .studio__info__right__explain
            最新の設備を整えたスタジオです。
            動画撮影、レコーディングも可能です。
          %table.studio__info__right__details
            %tr
              %th 料金（1時間）
              %td
                = comma_to_jpy(@studio.fee)
            %tr
              %th 広さ
              %td
                = "#{@studio.size}畳"
            %tr
              %th GuitarAmp
              %td
                = @studio.guitar_amp
            %tr
              %th BassAmp
              %td
                = @studio.bass_amp
            %tr
              %th Drums
              %td
                = @studio.drums
            %tr
              %th Keybords
              %td
                = @studio.keybords
    .reserve.inner-container
      .reserve__title
        予約表
      %table.reserve__table
        %tr.reserve__table--date
          %th
          - @one_week.each do |day|
            %th
              = day.strftime("%-d日")
              %br
              = "(#{day_of_week(day.wday)})"
        - @studio_reserves.each do |studio_reserve|
          %tr
            - studio_reserve.each_with_index do |reserve, cnt|
              - if cnt == 0
                %td.reserve__table--time
                  = reserve.hour.to_s + ":00"
              - if reserve.reserve_flg == 0
                %td.reserve__table--possible
                  = link_to "", studio_reserve_path(params[:id], reserve.id)
                  = hidden_field_tag :select_date, reserve.date
                  = hidden_field_tag :select_hour, reserve.hour
              - else
                %td.reserve__table--impossible
                  ×
= render partial: "reserves/reserve_modal"