.main-container
  .inner-container
    .entry_musics-show
      %table.entry_musics-show__info
        %tr
          %th 曲名
          %td
            = @entry_music.music_name
        %tr
          %th アーティスト名
          %td
            = @entry_music. artist_name
        %tr
          %th 追加者
          %td
            = @entry_music.user.nickname
        %tr
          %th 成立状況
          %td
            = @entry_music.complete_status
      - if user_signed_in? && (current_user&.id == @entry_music.user_id)
        .entry_musics-show__btn
          = link_to "編集する", "#", class: "edit-btn-default"
          = link_to "削除する", music_session_entry_music_path, method: :delete, class: "del-btn-default"
